/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
padding-top: 50px;
}


/*
* Global add-ons
*/

.sub-header {
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
border: 0;
}

/*
* Sidebar
*/

/* Hide for mobile, show later */
.sidebar {
display: none;
}
@media (min-width: 768px) {
.sidebar {
position: fixed;
top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color: #f5f5f5;
border-right: 1px solid #eee;
}
}

/* Sidebar navigation */
.nav-sidebar {
margin-right: -21px; /* 20px padding + 1px border */
margin-bottom: 20px;
margin-left: -20px;
}
.nav-sidebar > li > a {
padding-right: 20px;
padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
color: #fff;
background-color: #428bca;
}


/*
* Main content
*/

.main {
padding: 20px;
}
@media (min-width: 768px) {
.main {
padding-right: 40px;
padding-left: 40px;
}
}
.main .page-header {
margin-top: 0;
}


/*
* Placeholder dashboard ideas
*/

.placeholders {
margin-bottom: 30px;
text-align: center;
}
.placeholders h4 {
margin-bottom: 0;
}
.placeholder {
margin-bottom: 20px;
}
.placeholder img {
display: inline-block;
border-radius: 50%;
}
.alert-group>.alert:first-child:not(:last-child){
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:0;
    -moz-border-radius-bottomleft:0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    margin-bottom:0
}
.alert-group>.alert:not(:first-child):not(:last-child){
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-top:0;
    margin-bottom:0
}
.alert-group>.alert:last-child:not(:first-child){
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:0;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-top:0
}

.__loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.72);
    z-index: 1000;
}

.__loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
.__hide {
    display: none !important;
}

.push__notification {
    position: fixed;
    top: 70px;
    right: -70px;
    padding: 0.625em 1.25em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    pointer-events: none;
    border-radius: 3px;
    visibility: hidden;
    background: auto;
    color: white;
    opacity: 0;
    z-index: 99;
}
.push__notification {
    background: #A22C2C;
    max-width: 350px;
    font-size: 14px;
    position: fixed;
    padding: 10px 15px;
    right: 10px;
    top: 33px;
    z-index: 99;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.push__notification>.__notification {
    max-width: 18.75em;
    font-weight: 400;
    display: table;
}

.push__notification>.__notification .__icon {
    padding-right: 0.625em;
}

.push__notification>.__notification .__icon, .push__notification>.__notification p {
    vertical-align: middle;
    display: table-cell;
}

.push__notification>.__notification p {
    vertical-align: middle;
    display: table-cell;
}

.push__notification p {
    line-height: 1.25em;
    margin-bottom: 0;
}

.push__notification p {
    margin: 0;
}

.push__notification__msg {
    color: #fff;
    text-align: left !important;
}